body {
    background-color: rgba(173, 173, 173, 0.92);
}
.title {
    min-width: 400px;
    width: 600px;
    max-width: 800px;
    border: 5px solid rgba(117, 147, 62, 0.83);
    margin: 10px auto;
    text-align: center;
    background: rgba(194, 210, 160, 0.70);
    font-size: 2em;
}

#clearLC {
    width: 200px;
    margin: 0 auto;
    border: 5px solid rgba(117, 147, 62, 0.83);
    text-align: center;
    background: rgba(194, 210, 160, 0.70);
    font-size: 1.5em;
    padding: 15px;
    cursor: pointer;

}

#container {
    width: 600px;
    border: 5px solid rgba(117, 147, 62, 0.83);
    margin: 15px auto;
    background: rgba(194, 210, 160, 0.70);

}

#chatDisp {
    height: 500px;
    width: 580px;
    margin: 0 auto;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.51);
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: scroll;
}

#input {
    width: 100%;
    height: 52px;
    position: relative;
    margin: 5px 0;
}
#input p {
    position: absolute;
    z-index: 3;
    background-color: rgba(228, 219, 188, 0.70);
    padding: 5px;
    top: -55px;
    left: 15px;
    visibility: hidden;
}

#input label {
    background-color: #e1d8b9;
    display: block;
    position: absolute;
    z-index: 2;
    padding: 10px;
    font-size: 1.5em;
    left: 500px;
    border: 2px solid darkolivegreen;
    cursor: pointer;
}
input[type='text']{
    display: block;
    width: 560px;
    padding: 10px;
    margin: 0 auto;
    font-size: 1.5em;
    margin-bottom: 5px;
    position: absolute;
    z-index: 1;
    left: 8px;
    border-color: rgba(117, 147, 62, 0.83);
    outline-width: 5px;
    outline-color: rgba(117, 147, 62, 0.83);
    background-color: rgba(228, 219, 188, 0.80);
}

.message{
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: rgba(0, 180, 0, 0.50);
    padding: 10px;
    color: #ebd4a8;
}

.avatar {
    width: 15%;
    height: 75px;
    border: 2px solid #ebd4a8;
    border-radius: 5px;
    font-size: 1.5em;
    background-color: #ffffff;
}

.text {
    float: right;
    width: 80%;
    padding: 10px;
    margin: 0;
    text-align: justify;
    height: 55px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.11);
}

.datetime {
    float: right;
    margin: 0;
    margin-right: 15px;
    padding: 5px;
    visibility: visible;
    background-color: #ffffff;
    font-size: .8em;
}
.text:hover {
    height: auto;
    min-height: 55px;
}
.text:hover , .avatar:hover {

}

.clear {
    clear: both;
}